<!DOCTYPE HTML>
<html>
    <head>
        <title>Finder Web Service</title>
    </head>
    <body>
        <h1>Finder Web Service</h1>
        <ul>
            <li>register?email=[email]&amp;name=[name]&amp;password=[password]</li>
            <li>loginBySession?session=[session]</li>
            <li>loginByEmail?email=[email]&amp;password=[password]</li>
            <li>move?session=[session]&amp;newLat=[newLat]&amp;newLon=[newLon]</li>
            <li>swipeRight?session=[session]&amp;targetEmail=[targetEmail]</li>
            <li>chat?session=[session]&amp;targetEmail=[targetEmail]&amp;message=[message]</li>
            <li>getAvailableuserList?session=[session]&amp;radius=[radius]</li>
            <li>getMatchList?session=[session]</li>
            <li>getChatList?session=[session]&amp;targetEmail=[targetEmail]</li>
        </ul>
    </body>
</html>
