<!DOCTYPE HTML>
<html>
    <head>
        <title>Finder Web Service</title>
    </head>
    <body>
        <h1>Finder Web Service</h1>
        <ul>
            <li>GET: register?email=[email]&amp;name=[name]&amp;password=[password]</li>
            <li>GET: loginBySession?session=[session]</li>
            <li>GET: loginByEmail?email=[email]&amp;password=[password]</li>
            <li>GET: move?session=[session]&amp;newLat=[newLat]&amp;newLon=[newLon]</li>
            <li>GET: swipeRight?session=[session]&amp;targetEmail=[targetEmail]</li>
            <li>GET: chat?session=[session]&amp;targetEmail=[targetEmail]&amp;message=[message]</li>
            <li>GET: getAvailableuserList?session=[session]&amp;radius=[radius]</li>
            <li>GET: getMatchList?session=[session]</li>
            <li>GET: getChatList?session=[session]&amp;targetEmail=[targetEmail]</li>
            <li>POST: changeProfilePicture?session=[session]&profilePicture=[profilePictureMultipart]</li>
        </ul>

        <h1>Change Profile Tester</h1>
        <input id="email" placeholder="email" />
        <input id="password" placeholder="password" />
        <button id="login">Login By Email and Get Session</button>

        <form enctype="multipart/form-data" method="post" action="changeProfilePicture">
            <input id="session" name="session" placeholder="session" />
            <input type="file" name="profilePicture" />
            <button>Upload</button>
        </form>

        <h1>Current data</h1>

        <h2>Users</h2>
        <table border="1">
            <tr>
                <th>email</th>
                <th>name</th>
                <th>password</th>
                <th>session</th>
                <th>lon</th>
                <th>lat</th>
                <th>profile_picture</th>
            </tr>
            <% for(var i=0; i<userRows.length; i++){ var row = userRows[i]; %>
                <tr>
                    <td><%= row.email %></td>
                    <td><%= row.name %></td>
                    <td><%= row.password %></td>
                    <td><%= row.session %></td>
                    <td><%= row.lon %></td>
                    <td><%= row.lat %></td>
                    <td>
                        <% if(row.profile_picture != ''){ %>
                        <img width = "100px" src="public/uploads/<%= row.profile_picture %>" /> 
                        <% } else{ %>
                            NO PROFILE PICTURE
                        <% } %>
                    </td>
                </tr>
            <% } %>
        </table>

        <h2>Matches</h2>
        <table border="1">
            <tr>
                <th>email_from</th>
                <th>email_to</th>
            </tr>
            <% for(var i=0; i<matchRows.length; i++){ var row = matchRows[i]; %>
                <tr>
                    <td><%= row.email_from %></td>
                    <td><%= row.email_to %></td>
                </tr>
            <% } %>
        </table>

        <h2>Chats</h2>
        <table border="1">
            <tr>
                <th>email_from</th>
                <th>email_to</th>
                <th>message</th>
                <th>time</th>
            </tr>
            <% for(var i=0; i<chatRows.length; i++){ var row = chatRows[i]; %>
                <tr>
                    <td><%= row.email_from %></td>
                    <td><%= row.email_to %></td>
                    <td><%= row.message %></td>
                    <td><%= row.time %></td>
                </tr>
            <% } %>
        </table>

    </body>
    <script src="public/jquery-3.1.1.min.js"></script>
    <script>
        $('#login').click(function(){
            $.ajax({
                'url' : 'loginByEmail',
                'data' : {
                    'email' : $('#email').val(), 
                    'password' : $('#password').val()
                },
                'dataType' : 'json',
                'success' : function(response){
                    $('#session').val(response.session);
                    console.log("sesion " + session);
                }
            });
        });
    </script>
</html>
