<!DOCTYPE HTML>
<html>
    <head>
        <title>Finder Web Service</title>
    </head>
    <body>
        <h1>Finder Web Service</h1>
        <ul>
            <li>GET: register?email=[email]&amp;name=[name]&amp;password=[password]</li>
            <li>GET: loginBySession?session=[session]</li>
            <li>GET: loginByEmail?email=[email]&amp;password=[password]</li>
            <li>GET: move?session=[session]&amp;newLat=[newLat]&amp;newLon=[newLon]</li>
            <li>GET: swipeRight?session=[session]&amp;targetEmail=[targetEmail]</li>
            <li>GET: chat?session=[session]&amp;targetEmail=[targetEmail]&amp;message=[message]</li>
            <li>GET: getAvailableuserList?session=[session]&amp;radius=[radius]</li>
            <li>GET: getMatchList?session=[session]</li>
            <li>GET: getChatList?session=[session]&amp;targetEmail=[targetEmail]</li>
            <li>POST: changeProfilePicture?session=[session]&profilePicture=[profilePictureMultipart]</li>
        </ul>
        <h1>Upload Picture Tester</h1>
        <input id="email" placeholder="email" />
        <input id="password" placeholder="password" />
        <button id="login">Login By Email and Get Session</button>

        <form enctype="multipart/form-data" method="post" action="http://localhost:3000/changeProfilePicture">
            <input id="session" name="session" placeholder="session" />
            <input type="file" name="profilePicture" />
            <button>Upload</button>
        </form>


    </body>
    <script src="jquery-3.1.1.min.js"></script>
    <script>
        $('#login').click(function(){
            $.ajax({
                'url' : 'http://localhost:3000/loginByEmail',
                'data' : {
                    'email' : $('#email').val(), 
                    'password' : $('#password').val()
                },
                'dataType' : 'json',
                'success' : function(response){
                    $('#session').val(response.session);
                    console.log("sesion " + session);
                }
            });
        });
    </script>
</html>
